/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.gift-aid-heading,
.gift-aid-label {
  min-width: 350px;
}

.gift-aid-info {
  min-height: 200px;
  margin-top: 1em;
  width: 80%;
}
