/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.gift_aid_heading {
  min-width: 350px;
}

.gift_aid_text {
  min-height: 200px;
  margin-top: 1em;
  width: 80%;
}
